:root {
    --color-primary: #193963;
    --color-secondary: #88b82e;
    --color-background: #f3f7fa;
    --color-background-alt: #89b92e;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #123663;
    --color-text-light: #e6edf4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
html {
    line-height: 1.6rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/* button */
button {
    border: none;
    background-color: var(--color-white);
}
.btn-primary {
    width: 111px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-white)
}
.btn-primary:hover {
    background-color: var(--color-background-alt) !important;
}

.btn-green {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-background-alt);
    color: var(--color-white);
    width: 110px;
    height: 36px;
    border-radius: 4px;
    margin-top: 16px;
}

.btn-secondary {
    font-size: 14px;
    font-weight: 400;
    padding: 2px 20px 0;
    height: 100%;
    border-radius: 3px;
    background-color: #EEF1F6;
    color: var(--color-primary);
}
.btn-secondary:hover {
    background-color: var(--color-background-alt);
    color: var(--color-white)
}
.btn-secondary.active {
    color: var(--color-white);
    background-color: var(--color-background-alt);
}


.app hr {
    border: 1px solid #f3f7fa;
    opacity: 1;
}

/* button back to top */
.back-to-top,
.btn-message {
    position: fixed;
    right: 16px;
    border-radius: 50%;
    background-color: var(--color-background-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    animation: slideUp 0.5s ease forwards; 
}

.back-to-top {
    bottom: 196px;
    width: 40px;
    height: 40px;
    right: 26px;
    display: none;
}

.back-to-top img {
    margin-top: -2px;
    margin-right: -2px;
}

.btn-message {
    bottom: 128px;
    width: 60px;
    height: 60px;
}

/* animation */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* scroll bar */
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* --- css common --- */
.c-pointer {
    cursor: pointer !important;
}

/* text */
.text-primary {
    color: var(--color-text) !important;
}
.text-green {
    color: var(--color-secondary) !important;
}
.text-light {
    color: var(--color-text-light) !important;
}
.text-white {
    color: var(--color-white) !important;
}

.fs-7 {
    font-size: 0.875rem !important;
}
.fs-8 {
    font-size: 0.8125rem !important;
}
.fs-9 {
    font-size: 0.75rem !important;
}

.fw-900 {
    font-weight: 900 !important;
}

/* background */
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-green {
    background-color: var(--color-background-alt) !important;
}
.bg-white {
    background-color: var(--color-white) !important;
}
.bg-light {
    background-color: var(--color-background) !important;
}

/* flex */
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 1rem;
}
.gap-4 {
    gap: 1.5rem;
}
.gap-5 {
    gap: 2rem;
}
.gap-6 {
    gap: 2.5rem;
}
