.footer {
    background-color: var(--color-primary);
    padding-top: 20px;
    padding-bottom: 24px;
}
.footer-container {
    color: var(--color-white);
}
.footer-info {
    width: 100%;
}
.footer-links {
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
}
.footer-links a {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
}
.footer-info-main h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
}
.footer-info-main p {
    color: #e6edf4;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.footer-social {
    display: flex !important;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}
.footer-social p {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.footer-social-icon  {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
.footer-social-icon a {
    width: 36px;
    height: 36px;
}
.footer-social-icon a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-social-icon .footer-social-icon-main {
    width: 50px;
    height: 50px;
}

/* footer img */
.footer-map {
    width: 360px;
    max-width: 100%;
    height: 100%;
    margin-top: 8px;
    max-height: 200px;
}
.footer-map img {
    width: 100%;
    border-radius: 4px;
}

@media (max-width: 1400px) {
    .footer-info {
        padding-right: 24px;
    }
}
