.news {
    padding-top: 48px;
    padding-bottom: 40px;
}

.news-tabs {
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: center;
    gap: 6px;
    margin-bottom: 24px;
    text-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.news-main {
    display: flex;
    width: 100%;
    gap: 28px;
}
.news-main-left {
    flex: 6;
    display: block;
}
.news-main-left-img {
    width: 100%;
    border-radius: 2px;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}
.news-main-left img,
.news-main-right-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}
.news-main-left-info h6 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-primary);
    margin: 20px 0 8px;
    line-height: 28px;
}

.news-main-left-info p {
    font-size: 16px;
    font-weight: 400;
    color: #757F95;
    line-height: 24px;
}


.news-main-right {
    flex: 4;
}

.news-main-right hr {
    border: 1px dashed #D3D8E4;
    opacity: 1;
}

.news-main-right-item {
    display: flex;
    gap: 12px;
    align-items: start;
}
.news-main-right-item-img {
    display: block;
    min-width: 35%;
    max-width: 160px;
    border-radius: 2px;
    aspect-ratio: 14 / 9;
    height: auto;
    overflow: hidden;
}

.news-main-right-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primary);
    display: -webkit-box;       
    -webkit-line-clamp: 3;       
    -webkit-box-orient: vertical;
    overflow: hidden;            
    text-overflow: ellipsis;
}

.news-main-left:hover h6,
.news-main-right-item:hover p {
    color: var(--color-secondary)
}

.news-main-left:hover img,
.news-main-right-item:hover .news-main-right-item-img img {
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .news-tabs {
        justify-content: start;
       
    }
}