.partner {
}
.partner-container {
    padding-top: 24px;
    padding-bottom: 40px;
}
.partner-item {
    width: 100%;
    aspect-ratio: 17 / 11;
    background: #F3F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: .2s ease;

}

.partner-item img {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    mix-blend-mode: darken;
}

.partner-item:hover {
    transform: translateY(-6px);
    box-shadow: 0px 19px 10px -16px rgba(0, 0, 0, .2);
}
