.service .container {
    margin-top: -171px;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 36px;
}

.service-slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: visible;
}

.service-slide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.service-slide.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.service-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    display: block;
    border-radius: 2px;
    transition: 0.3s ease;
    box-shadow: 0 0.425em 0.5em 0 #cecece;
}

.service-item-img {
    width: 100%;
    aspect-ratio: 35 / 23;
    overflow: hidden;
    border-radius: 2px;
    display: block;
}

.service-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: 0.3s ease;
}

.service-item-info {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 20px;
    padding: 20px 16px 24px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.service-item-info-title {
    line-height: 30px;
    color: var(--color-primary);
    display: block;
    width: 100%;
    text-align: center;
}
.service-item-menu {
    position: absolute;
    right: 0;
    top: 22px;
    width: 24px;
    height: 24px;
    z-index: 10;
}

.service-item-menu>i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}
.service-item-menu>i:hover {
    background-color: var( --color-text-light);
}

.service-item-menu ul {
    position: absolute;
    top: 100%; 
    background-color: var(--color-white);
    border-radius: 4px;
    width: auto;
    padding: 6px 0;
    z-index: 999; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    animation: slideUp 0.2s ease forwards; 
}

.service-item-menu ul>li {
    width: 100%;
}
.service-item-menu ul>li a {
    display: block;
    padding: 6px 16px 6px 13px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap; 
    cursor: pointer;
    color: var(--color-primary)
}

.service-slide-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: calc(50% + 18px);
    transform: translate(-50%, -50%);
    width: calc(100% + 96px);
    left: 50%;
}

.service-slide-control button {
    border: none;
    background-color: var(--white-color);
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* event hover */
.service-item-menu ul>li a:hover {
    background-color: var(--color-text-light);
}
.service-item:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
}
.service-item-info-title:hover {
    color: var(--color-secondary);
}
.service-item-img img:hover {
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .service-item {
        height: 291px;
    }
    .service-item p {
        padding-bottom: 10px;
    }
}
