.top-bar {
    height: 96px;
}

.top-bar-logo img {
    height: 68px;
    width: 68px;
}

.top-bar-icon-item {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-icon-language {
    
}
