
/* top bar info */
.top-bar-info {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-logo img {
    width: 68px;
}
.top-bar-logo-info {
    text-wrap: nowrap;
}
.top-bar-logo-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary)
}
.top-bar-logo-info p {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary)
}

.top-bar-slogan {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
} 
.top-bar-slogan-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 16px;
    transition: .3s ease;
}
.top-bar-slogan-item svg {
    width: 28px;
    height: 28px;
}
.top-bar-slogan-item svg path {
    fill: var(--color-secondary) !important;
}
.top-bar-slogan-item svg polygon {
    fill: var(--color-text-light) !important;
}
.slogan-item-info {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    text-wrap: nowrap;
    color: var(--color-primary)
}
.top-bar-slogan-item h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: #0a92cd;
}
.top-bar-slogan-item:hover {
    box-shadow: inset 7px 0 7px -9px #193963; 
}

@media (max-width: 1200px) {
    .top-bar-logo-info h3 {
       font-size: 16px;
       margin-bottom: 4px;
    }
    .top-bar-logo-info p {
        font-size: 14px;
    }

    .top-bar-slogan {
        gap: 16px;
    }
    .top-bar-slogan-item {
        padding-left: 12px;
    }
    .top-bar-slogan-item h3 {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .top-bar {
        display: none;
    }    
}
